.caseStudy {
  &--container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 25px;
  }

  &__back {
    max-width: 580px;
    margin: 0 auto;

    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      margin: 0 0 20px 0;
      background: rgba(21, 21, 21, 0.5);
      backdrop-filter: blur(10px);
      border: 1px solid rgba(212, 212, 212, 0.15);
      border-radius: 50%;
      width: 35px;
      height: 35px;
      svg {
        font-size: 22px;
      }

      &:hover {
        border: 1px dashed rgba(212, 212, 212, 0.6);
      }
    }
  }

  header {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 580px;
    margin: 0 auto;
    h1 {
      font-size: 24px;
      font-weight: 500;
    }

    p {
      line-height: 1.5;
    }
  }

  &__details {
    display: flex;
    align-items: flex-end;
    gap: 20px;

    > div {
      display: flex;
      flex-wrap: wrap;
      gap: 6px 12px;
      span {
        font-size: 13px;
        opacity: 0.5;
      }
    }
  }

  &__preview {
    margin-top: 50px;

    h2 {
      font-size: 19px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    > div {
      display: flex;
      flex-direction: column;
      gap: 10px;
      img {
        max-width: 100%;
        width: 100%;
        height: auto;
      }
    }
  }
}

.work-not-found {
  text-align: center;
  line-height: 1.5;

  a {
    display: block;
    text-decoration: underline;
  }
}

@media (min-width: $md) {
  .caseStudy {
    &__back {
      position: sticky;
      top: 28px;
    }
  }
}
