.projects,
.work {
  animation: 0.6s load-in ease;

  h1 {
    font-size: 19px;
    margin-bottom: 15px;
    font-weight: 500;
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px;
  }
}

@media (min-width: $md) {
  .projects,
  .work {
    margin-top: -40px;

    &__items {
      gap: 30px 15px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
