.banner {
  //   margin-top: 10px;
  display: flex;
  justify-content: space-between;

  &__bio {
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1 {
      font-size: 28px;
    }
    p {
      font-size: 17px;
      line-height: 1.5;
      max-width: 326px;
    }
  }

  &__picture {
    overflow: hidden;
    border-radius: 50%;
    background-color: #242424;
    flex-basis: 170px;
    min-width: 170px;
    // outline: 1px solid rgba(255, 255, 255, 0.4);
    img {
      max-width: 100%;
      height: auto;
      transform: scale(1.1);
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    margin-top: auto;

    .socials {
      * {
        line-height: 1;
        display: block;
      }
      a {
        &:hover {
          svg {
            padding: 1px;
            border: 1px dashed var(--body);
            border-radius: 50%;
          }
        }
      }
    }

    a {
      line-height: 1;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
