.projectItem {
  display: flex;
  flex-direction: column;

  &__thumbnail {
    position: relative;
    height: 180px;
  }
  img {
    object-fit: cover;
    display: block;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 14px;

    &-name {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-external {
      display: flex;
      align-items: center;
      gap: 8px;

      a {
        line-height: 1;
        &:hover {
          svg {
            opacity: 1;
          }
        }

        &:first-child {
          svg {
            width: 18px !important;
            height: 18px !important;
          }
        }

        svg {
          height: 20px;
          width: 20px;
          opacity: 0.5;
        }
      }
    }

    &-desc {
      line-height: 1.5;
      font-size: 14px;
    }

    &-tech {
      display: flex;
      flex-wrap: wrap;
      gap: 6px 12px;

      span {
        font-size: 13px;
        opacity: 0.5;
      }
    }
  }
}
