.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row !important;

  a {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 13px;
    color: var(--body);
    opacity: 0.5;
    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
      &:first-child {
        svg {
          translate: -5px 0;
        }
      }

      &:last-child {
        svg {
          translate: 5px 0;
        }
      }
    }

    svg {
      font-size: 16px;
      transition: 0.3s ease;
    }
  }
}
