.techStack {
  display: flex;
  flex-direction: column;
  gap: 30px;

  > div {
    display: flex;
    gap: 22px;

    p {
      font-size: 14px;
      width: 68px;
      span {
        font-size: 13px;
        display: block;
        opacity: 0.5;
        margin-top: 3px;
      }
    }
  }
}

@media (min-width: $md) {
  .techStack {
    > div {
      gap: 30px;

      p {
        width: 77.72px;
      }
    }
  }
}
